---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}

</head>
<body>

    <!-- Header -->
    <div class="main">
        <div class="wrapper">
            <div class="content">
              <a class="btn" href="{{site.url}}"> <!--  zoombtn -->
                  <i class="fas fa-times"></i>
              </a>
                <div class="post-title">
                    <i class="fas fa-headphones-alt"></i>
                    <h1>{{ page.title }}</h1>
                </div>
                <div class="post-list">
<p>J'anime tous les mardis soirs, en direct, l'émission <a href="https://stephmnt.github.io/cae" target="_blank">Cause à Effet</a>, le magazine du travail, de l'emploi et de la formation. Pour écouter, branchez-vous sur 93.1, ou bien consultez <a href="https://cause-commune.fm">cause-commune.fm</a></p>
<h3>Liste des émissions :</h3>
                </div>
                <div id="podcastsrss"></div>
            </div>
        </div>
    </header>

  <script src="{{ site.url }}/assets/js/feedek.js"></script>
  <script>
    $('#podcastsrss').FeedEk({
    FeedUrl: 'https://cause-commune.fm/feed/podcast/cause-a-effet',
    MaxCount: 50,
    ShowPubDate: false,
    ShowDesc: false
    });
  </script>
    {% include scripts.html %}
</body>
</html>
